<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498372143416-frjq167l891no02dco07fpusnk8ni48l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498372143416-frjq167l891no02dco07fpusnk8ni48l</string>
	<key>API_KEY</key>
	<string>AIzaSyDZDXqL2d0vAfB9MUWTIblHi57Fhyggm78</string>
	<key>GCM_SENDER_ID</key>
	<string>498372143416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.touristapp</string>
	<key>PROJECT_ID</key>
	<string>touristapp-fd35f</string>
	<key>STORAGE_BUCKET</key>
	<string>touristapp-fd35f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498372143416:ios:0064ad61589966095af9cd</string>
</dict>
</plist>